# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [347]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [348]:
# Create a District Summary

school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [349]:
# Total number of schools

total_school = school_data_complete['school_name'].nunique()
total_school

15

In [350]:
# Total number of students

total_students = school_data_complete['Student ID'].nunique()
total_students

39170

In [351]:
# Total budget

total_budget = school_data_complete['budget'].drop_duplicates().sum()
total_budget

24649428

In [352]:
# Average math score

average_math = school_data_complete['math_score'].mean()
average_math

78.98537145774827

In [353]:
# Average reading score

average_reading = school_data_complete['reading_score'].mean()
average_reading

81.87784018381414

In [354]:
# Overall average score 80.43
school_data_complete['overall'] = (school_data_complete['math_score'] +school_data_complete['reading_score'])/2

average_overall = school_data_complete['overall'].mean()
average_overall

80.43160582078121

In [355]:
# Percentage of passing math (70 or greater)
count =  len(school_data_complete[school_data_complete["math_score"]>=70])
passing_math_perc = (count/len(school_data_complete["math_score"]))*100
passing_math_perc

74.9808526933878

In [356]:
# Percentage of passing reading (70 or greater)
count_r =  len(school_data_complete[school_data_complete["reading_score"]>=70])
passing_reading_perc = (count_r/len(school_data_complete["reading_score"]))*100
passing_reading_perc

85.80546336482001

In [357]:
# Percentage of passing overall (70 or greater)
count_o =  len(school_data_complete[school_data_complete["overall"]>=70])
passing_overall_perc = (count_o/len(school_data_complete["overall"]))*100
passing_overall_perc

89.3872861884095

In [358]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    'Total Schools': [total_school],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math],
    'Average Reading Score': [average_reading],
    '% Passing Math': [passing_math_perc],
    '% Passing Reading': [passing_reading_perc],
    '% Overall Passing Rate': [passing_overall_perc]
})

print(district_summary)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  \
0               81.87784       74.980853          85.805463

   % Overall Passing Rate
0               89.387286

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

*Sort and display the top five schools in overall passing rate

In [402]:
#boolean column of students whose overall >=70

passing_score = 70
school_data_complete['passed_overall'] = (((school_data_complete['reading_score'] + school_data_complete['math_score'] )/2)>= passing_score)

# This is the same as school size. count of student by school
school_student_count = school_data_complete.groupby('school_name')['Student ID'].nunique()
school_student_count

#This is sum of a boolean students whose overall >70  by school
passed_per_school_count = school_data_complete.groupby('school_name')['passed_overall'].sum()
passed_per_school_count

percentege_passed_by_school = passed_per_school_count/school_student_count
percentege_passed_by_school.sort_values(ascending=False).head(5)

school_name
Cabrera High School    0.995694
Griffin High School    0.994550
Shelton High School    0.993754
Wilson High School     0.992554
Wright High School     0.992222
dtype: float64

In [365]:
#check
school_passing_rate = school_data_complete[school_data_complete['overall'] >= 70].groupby('school_name')['Student ID'].count() / school_data_complete.groupby('school_name')['Student ID'].count() * 100
top_schools = school_passing_rate.sort_values(ascending=False).head(5)
top_schools

school_name
Cabrera High School    99.569429
Griffin High School    99.455041
Shelton High School    99.375355
Wilson High School     99.255366
Wright High School     99.222222
Name: Student ID, dtype: float64

In [409]:
# Calculate total school budget
total_budget_per_school = school_data_complete.groupby('school_name')['budget'].first()
total_budget_per_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [412]:
# Calculate per student budget
budget_per_student = total_budget_per_school/school_data_complete.groupby('school_name')['size'].first()
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [413]:
# Cacluate the avg math and reading score

avg_math_by_school = school_data_complete.groupby('school_name')['math_score'].mean()
avg_math_by_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [414]:
avg_reading_by_school = school_data_complete.groupby('school_name')['reading_score'].mean()
avg_reading_by_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

#### Find the passing rate for math and reading (above 70 points)

In [416]:
#boolean column of students whose math >=70

passing_score = 70
school_data_complete['passed_math'] = (school_data_complete['math_score'] >= passing_score)

#This is sum of a boolean students whose math score >70  by school

passed_math_pschool_count = school_data_complete.groupby('school_name')['passed_math'].sum()
passed_math_pschool_count

passed_math_by_school = passed_math_pschool_count/school_student_count
passed_math_by_school.sort_values(ascending=False).head(5)

school_name
Pena High School       0.945946
Cabrera High School    0.941335
Wilson High School     0.938677
Shelton High School    0.938671
Griffin High School    0.933924
dtype: float64

In [382]:
# Find the total counts of read result
passing_score = 70
school_data_complete['passed_reading'] = (school_data_complete['reading_score'] >= passing_score)


passed_reading_pschool_count = school_data_complete.groupby('school_name')['passed_reading'].sum()
passed_reading_pschool_count

# Find the counts for read result in each school that pass 70 or higher
passed_reading_pschool_count = school_data_complete.groupby('school_name')['passed_reading'].sum()
passed_reading_pschool_count

# Calculate the read passing rate

passed_reading_by_school = passed_reading_pschool_count/school_student_count
passed_reading_by_school.sort_values(ascending=False).head(5)

school_name
Thomas High School     0.973089
Griffin High School    0.971390
Cabrera High School    0.970398
Wright High School     0.966111
Wilson High School     0.965396
dtype: float64

In [417]:
# Calculate the overall passing rate (average of the math and reading passing rate)

percentege_passed_by_school = passed_per_school_count/school_student_count
percentege_passed_by_school.sort_values(ascending=False)

school_name
Cabrera High School      0.995694
Griffin High School      0.994550
Shelton High School      0.993754
Wilson High School       0.992554
Wright High School       0.992222
Pena High School         0.991684
Thomas High School       0.990826
Holden High School       0.985948
Bailey High School       0.851889
Huang High School        0.849846
Johnson High School      0.849821
Hernandez High School    0.848759
Ford High School         0.847755
Rodriguez High School    0.847462
Figueroa High School     0.846728
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [427]:
#  Sort and display the worst five schools in overall passing rate

percentege_passed_by_school.sort_values(ascending=True).head(5)
percentege_passed_by_school

school_name
Bailey High School       0.851889
Cabrera High School      0.995694
Figueroa High School     0.846728
Ford High School         0.847755
Griffin High School      0.994550
Hernandez High School    0.848759
Holden High School       0.985948
Huang High School        0.849846
Johnson High School      0.849821
Pena High School         0.991684
Rodriguez High School    0.847462
Shelton High School      0.993754
Thomas High School       0.990826
Wilson High School       0.992554
Wright High School       0.992222
dtype: float64

In [423]:
school_name =  school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [424]:
school_type = school_data_complete.groupby('school_name')['type'].agg('first')
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [426]:


total_students = school_data_complete['school_name'].value_counts()
total_students

'Total Students': budget_per_student,

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [443]:
# Create a new DataFrame with just the school name and values
school_performance_summary = pd.DataFrame({
    'School Name': total_students.index,
    'School Type': school_type.values,
    'Total Budget': total_budget_per_school.values,
    'Budget per Student': budget_per_student.values,
    'Average Math Score': avg_math_by_school.values,
    'Average Reading Score': avg_reading_by_school.values,
    '% Passing Math': passed_math_by_school.values,
    '% Passing Reading': passed_reading_by_school.values,
    '% Overall Passing': percentege_passed_by_school.values
})

# Set the index of the DataFrame to be the School Name column
school_performance_summary = school_performance_summary.set_index('School Name')

# Display the summary DataFrame
school_performance_summary

,School Type,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,
Bailey High School,District,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.851889
Johnson High School,Charter,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.995694
Hernandez High School,District,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.846728
Rodriguez High School,District,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.847755
Figueroa High School,Charter,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.994550
Huang High School,District,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.848759
Ford High School,Charter,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.985948
Wilson High School,District,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.849846
Cabrera High School,District,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.849821
Wright High School,Charter,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.991684
Shelton High School,District,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.847462
Thomas High School,Charter,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.993754
Griffin High School,Charter,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.990826
Pena High School,Charter,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.992554
Holden High School,Charter,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.992222

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [55]:
# Create table that lists the average math score for each school of each grade level.

df = school_data_complete

In [56]:
# Calculate the average math score for 9th grade in each school

ninth_grade = df[df['grade'] == '9th'].groupby('school_name')['math_score'].mean()
ninth_grade

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [57]:
# Calculate the average math score for 10th grade in each school
tenth_grade = df[df['grade'] == '10th'].groupby('school_name')['math_score'].mean()
tenth_grade

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [58]:
# Calculate the average math score for 11th grade in each school

eleventh_grade = df[df['grade'] == '11th'].groupby('school_name')['math_score'].mean()
eleventh_grade

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [59]:
# Calculate the average math score for 12th grade in each school

twelfth_grade = df[df['grade'] == '12th'].groupby('school_name')['math_score'].mean()
twelfth_grade

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [60]:

# Combine the series into a dataframe
math_scores_by_grade = pd.DataFrame({
    '9th': ninth_grade,
    '10th': tenth_grade,
    '11th': eleventh_grade,
    '12th': twelfth_grade
})

# Optional: format the displayed data
math_scores_by_grade.index.name = "School Name"
math_scores_by_grade = math_scores_by_grade.round(2)

print(math_scores_by_grade)

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [445]:
# Calculate the average reading score for 9th grade in each school
ninth_g = df[df['grade'] == '9th'].groupby('school_name')['reading_score'].mean()

In [63]:
# Calculate the average reading score for 10th grade in each school

tenth_g = df[df['grade'] == '10th'].groupby('school_name')['reading_score'].mean()

In [64]:
# Calculate the average reading score for 11th grade in each school



eleventh_g = df[df['grade'] == '11th'].groupby('school_name')['reading_score'].mean()

In [65]:
# Calculate the average reading score for 12th grade in each school

twelfth_g = df[df['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

In [446]:
# Combine the series into a dataframe
reading_scores_by_grade = pd.DataFrame({
    '9th': ninth_g,
    '10th': tenth_g,
    '11th': eleventh_g,
    '12th': twelfth_g
})

# Optional: format the displayed data
reading_scores_by_grade.index.name = "School Name"
reading_scores_by_grade = reading_scores_by_grade.round(2)

print(reading_scores_by_grade)

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [447]:
# Create a new column to show budget per student in each row
school_data_complete['budget_per_student'] =school_data_complete['budget']/ school_data_complete['size']

In [449]:
# Create a new column to define the spending ranges per student     
            
            
bins = [0, 604, 629,700]
labels = ['low', 'medium', 'high']

# Create the new column using pd.cut()
school_data_complete['spending_range'] = pd.cut(school_data_complete['budget_per_student'], bins=bins, labels=labels)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,overall,passed_overall,passed_math,passed_reading,budget_per_student,spending_range
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5,True,True,False,655.0,high
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5,True,False,True,655.0,high
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0,True,False,True,655.0,high
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5,False,False,False,655.0,high
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5,True,True,True,655.0,high

In [450]:
# Calculate the average math score within each spending range

low_M_average = school_data_complete[school_data_complete['spending_range'] == 'low']['math_score'].mean()

medium_M_average = school_data_complete[school_data_complete['spending_range'] == 'medium']['math_score'].mean()
high_M_average = school_data_complete[school_data_complete['spending_range'] == 'high']['math_score'].mean()
print('For low spending range the average math score is ' + str(low_M_average)  + ', for the medium spending range the average math score is ' + str(medium_M_average) + ', and for the high spending the math average is ' 
+ str(high_M_average))

For low spending range the average math score is 83.36228318366342, for the medium spending range the average math score is 79.1799891979476, and for the high spending the math average is 77.41899724984134

In [451]:
# Calculate the percentage passing rate for math in each spending range
count_low_math = len(school_data_complete[(school_data_complete['spending_range'] == 'low') & (school_data_complete['math_score'] >= 70)])
passing_low_math = (count_low_math / len(school_data_complete[school_data_complete['spending_range'] == 'low'])) * 100
passing_low_math

93.73846721613974

In [452]:
count_medium_math = len(school_data_complete[(school_data_complete['spending_range'] == 'medium') & (school_data_complete['math_score'] >= 70)])
passing_medium_math = (count_medium_math / len(school_data_complete[school_data_complete['spending_range'] == 'medium'])) * 100
passing_medium_math

75.6008641641912

In [453]:
count_high_math = len(school_data_complete[(school_data_complete['spending_range'] == 'high') & (school_data_complete['math_score'] >= 70)])
passing_high_math = (count_high_math / len(school_data_complete[school_data_complete['spending_range'] == 'high'])) * 100
passing_high_math

68.33509625555321

In [454]:
# Calculate the percentage passing rate for reading in each spending range

count_low_read = len(school_data_complete[(school_data_complete['spending_range'] == 'low') & (school_data_complete['reading_score'] >= 70)])
passing_low_read = (count_low_read / len(school_data_complete[school_data_complete['spending_range'] == 'low'])) * 100
passing_low_read

96.50633534260056

In [455]:
count_medium_read = len(school_data_complete[(school_data_complete['spending_range'] == 'medium') & (school_data_complete['reading_score'] >= 70)])
passing_medium_read = (count_medium_read / len(school_data_complete[school_data_complete['spending_range'] == 'medium'])) * 100
passing_medium_read

86.76748582230623

In [169]:
count_high_read = len(school_data_complete[(school_data_complete['spending_range'] == 'high') & (school_data_complete['reading_score'] >= 70)])
passing_high_read = (count_high_read / len(school_data_complete[school_data_complete['spending_range'] == 'high'])) * 100
passing_high_read

81.82356674423524

In [176]:
# Calculate the percentage overall passing rate in each spending range

count_low_overall = len(school_data_complete[(school_data_complete['spending_range'] == 'low') & (school_data_complete['overall'] >= 70)])
passing_low_overall = (count_low_overall / len(school_data_complete[school_data_complete['spending_range'] == 'low'])) * 100
passing_low_overall

99.31110837741419

In [177]:
count_medium_overall = len(school_data_complete[(school_data_complete['spending_range'] == 'medium') & (school_data_complete['overall'] >= 70)])
passing_medium_overall = (count_medium_overall / len(school_data_complete[school_data_complete['spending_range'] == 'medium'])) * 100
passing_medium_overall

89.8325681879557

In [179]:
count_high_overall = len(school_data_complete[(school_data_complete['spending_range'] == 'high') & (school_data_complete['overall'] >= 70)])
passing_high_overall = (count_high_overall / len(school_data_complete[school_data_complete['spending_range'] == 'high'])) * 100
passing_high_overall

85.83456737888724

### Scores by School Size

* Perform the same operations as above, based on school size.


Create a table that breaks down school performances based on average of school size. Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [205]:
# Sample bins. Feel free to create your own

In [456]:
# Create a new column for the bin groups
size_bins = [0, 1943, 3459,4980]
group_names = ["small", "medium", "large"]

bins = [0, 604, 629,700]
labels = ['low', 'medium', 'high']

# Create the new column using pd.cut()
school_data_complete['school_size'] = pd.cut(school_data_complete['size'], bins=size_bins, labels=group_names)

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,overall,passed_overall,passed_math,passed_reading,budget_per_student,spending_range,school_size
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,72.5,True,True,False,655.0,high,medium
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,77.5,True,False,True,655.0,high,medium
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,75.0,True,False,True,655.0,high,medium
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,62.5,False,False,False,655.0,high,medium
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,90.5,True,True,True,655.0,high,medium

Look for the total count of test scores that pass 70% or higher

In [457]:
# math_pass_size

count_small_math = len(school_data_complete[(school_data_complete['school_size'] == 'small') & (school_data_complete['math_score'] >= 70)])
passing_small_math = (count_small_math / len(school_data_complete[school_data_complete['school_size'] == 'small'])) * 100
passing_small_math

93.66360609423873

In [458]:
count_m_math = len(school_data_complete[(school_data_complete['school_size'] == 'medium') & (school_data_complete['math_score'] >= 70)])
passing_m_math = (count_m_math / len(school_data_complete[school_data_complete['school_size'] == 'medium'])) * 100
passing_m_math

72.33651726671565

In [459]:

count_large_math = len(school_data_complete[(school_data_complete['school_size'] == 'large') & (school_data_complete['math_score'] >= 70)])
passing_large_math = (count_large_math / len(school_data_complete[school_data_complete['school_size'] == 'large'])) * 100
passing_large_math

66.46889118719722

In [460]:
# read_pass_size
count_small_read = len(school_data_complete[(school_data_complete['school_size'] == 'small') & (school_data_complete['reading_score'] >= 70)])
passing_small_read = (count_small_read / len(school_data_complete[school_data_complete['school_size'] == 'small'])) * 100
passing_small_read

96.67036625971143

In [461]:
count_m_read = len(school_data_complete[(school_data_complete['school_size'] == 'medium') & (school_data_complete['reading_score'] >= 70)])
passing_m_read = (count_m_read / len(school_data_complete[school_data_complete['school_size'] == 'medium'])) * 100
passing_m_read

83.84459955914768

In [462]:
count_large_read = len(school_data_complete[(school_data_complete['school_size'] == 'large') & (school_data_complete['reading_score'] >= 70)])
passing_large_read = (count_large_read / len(school_data_complete[school_data_complete['school_size'] == 'large'])) * 100
passing_large_read

81.10609112187687

In [463]:
# Calculate the overall passing rate for different school size
count_small_overall = len(school_data_complete[(school_data_complete['school_size'] == 'small') & (school_data_complete['overall'] >= 70)])
passing_small_overall = (count_small_overall / len(school_data_complete[school_data_complete['school_size'] == 'small'])) * 100
passing_small_overall

99.2937140550903

In [464]:
count_m_overall = len(school_data_complete[(school_data_complete['school_size'] == 'medium') & (school_data_complete['overall'] >= 70)])
passing_m_overall = (count_m_overall / len(school_data_complete[school_data_complete['school_size'] == 'medium'])) * 100
passing_m_overall

87.83982365907421

In [465]:
count_large_overall = len(school_data_complete[(school_data_complete['school_size'] == 'large') & (school_data_complete['overall'] >= 70)])
passing_large_overall = (count_large_overall / len(school_data_complete[school_data_complete['school_size'] == 'large'])) * 100
passing_large_overall

84.95999129062109

### Scores by School Type

* Perform the same operations as above, based on school type.

In [240]:
# Create bins and groups, school type {'Charter', 'District'}


by_type = school_data_complete.groupby('type')

# Calculate the average math and reading scores for each school type
avg_math_by_type = by_type['math_score'].mean()
avg_reading_by_type = by_type['reading_score'].mean()


avg_math_by_type
avg_reading_by_type

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

Find counts of the passing 70 or higher score for the both test

In [242]:
# math pass size

# Calculate the percentage of students passing math for each school type
passing_math_by_type = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count() / by_type['Student ID'].count() * 100
passing_math_by_type

type
Charter     93.701821
District    66.518387
Name: Student ID, dtype: float64

In [244]:
# reading pass size

# Calculate the percentage of students passing math for each school type
passing_reading_by_type = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count() / by_type['Student ID'].count() * 100
passing_reading_by_type

type
Charter     96.645891
District    80.905249
Name: Student ID, dtype: float64

In [466]:
# Calculate the overall passing rate

overall_passing_by_type = (passing_math_by_type + passing_reading_by_type) / 2

# Create a new DataFrame with the results
scores_by_type = pd.DataFrame({
    'Average Math Score': avg_math_by_type,
    'Average Reading Score': avg_reading_by_type,
    '% Passing Math': passing_math_by_type,
    '% Passing Reading': passing_reading_by_type,
    '% Overall Passing Rate': overall_passing_by_type
})
# Print the new DataFrame
print(scores_by_type)

          Average Math Score  Average Reading Score  % Passing Math  \
type
Charter            83.406183              83.902821       93.701821
District           76.987026              80.962485       66.518387

          % Passing Reading  % Overall Passing Rate
type
Charter           96.645891               95.173856
District          80.905249               73.711818